<div class="sidebar">
  <div class="logo-container">
    <img src="img/logoo.png" alt="Logo DecliTech" class="logo-img" />
  </div>
  <nav class="menu">
    <a routerLink="/accueil" routerLinkActive="active">🏠 Accueil</a>
    <a routerLink="/modulesSessions" routerLinkActive="active">📦 Modules</a>
    <a routerLink="/reservations" routerLinkActive="active">📅 Réservations</a>
    <a routerLink="/list" routerLinkActive="active">👨‍🏫 Instructeurs</a>
    <a routerLink="/cobuilds" routerLinkActive="active">🏢 Co-Build Spaces</a>
    <a routerLink="/avis" routerLinkActive="active">💬 Avis</a>
    <a (click)="logout()">🔒 Déconnecter</a>
  </nav>
</div>
